mixin resultsTableTemplate()
	script#resultsTableTemplate(type='text/x-handlebars-template')
		|	<div>
		|		<table>
		|			<thead>
		|				<tr>
		|					<th>Rank</th>
		|					<th>Artist</th>
		|					<th>Name</th>
		|					<th>Last.fm Play Count</th>
		|				</tr>
		|			</thead>
		|			<tbody>
		|				{{#each results}}
		|					<tr>
		|						<td>{{rank}}</td>
		|						<td>{{artist}}</td>
		|						<td>{{name}}</td>
		|						<td>{{playcount}}</td>
		|					</tr>						
		|				{{/each}}
		|			</tbody>
		|		</table>
		|	</div>